/********* TAG SELECTORS **************/
body {
    margin: 0;
    text-align: center;
    font-family: "Playfair Display", sans-serif;
}

h1 {
    color:  #11999E;
    margin: 5% auto 0 auto;
    font-size: 300%;
}

h2 {
    color:  #11999E;
    font-size: 250%;
    font-weight: bold;
}

h3 {
    color: #66BFBF;
    font-size: 200%;
    font-weight: bold;
}

h4 {
    font-size: 150%;
    font-weight: normal;
}

p {
    font-size: 150%;
}

hr {
  border: none;
  border-top: 0.625rem dotted lightGrey;
  width: 6%;
  background-color: transparent;
  margin: 5% auto;
}

/******* CLASS SELECTORS **************/
.top-container {
    height: 800%;
    background: url("https://wallpaperaccess.com/full/6109378.png") no-repeat fixed center / cover;
    /*background-color: #EAF6F6;*/
    margin-bottom: 5%;
    padding-top: 18%;
    padding-bottom: 27%;
}

.title {
    color: #FF9500;
    font-size: 700%;
}

.middle-container {
    width: 70%;
    margin: auto;
}

.profile {
    margin: 0 auto 1% auto;
    width: 50%;
}

.prof-pic {
    border-radius: 100%;
    width: 40%;
    height: 40%;
}

.skill-row {
    margin: 10% auto 10% auto;
    text-align: justify;
    line-height: 1.5;
}

.cheme-img {
     width: 18.75rem;
     height: 18.75rem;
     border-radius: 100%;
     float: left;
     margin-right: 1.875rem;
     margin-top: 0.005rem;
     background-color: #1982c4;
}

.programming-img {
     width: 18.75rem;
     height: 18.75rem;
     border-radius: 100%;
     background-color: #2a9d8f;
     float: right;
     margin-left: 1.875rem;
     margin-top: 0.04rem;
}

.statistics-img {
     width: 18.75rem;
     height: 18.75rem;
     border-radius: 100%;
     float: left;
     margin-right: 1.875rem;
     margin-top: 0.005rem;
     background-color: #1c2d77;
}

.experience {
    margin: auto;
    text-align: justify;
    line-height: 1.5;
}

.sdi-img {
     width: 25%;
     height: 25%;
     float: left;
     margin-right: 2rem;
     margin-bottom: 5rem;
     position: relative;
     top: 3rem;
}

.contact-me {
    margin-bottom: 1%;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 0.5rem;
  font-family: Arial;
  color: #ffffff;
  font-size: 1.25rem;
  padding: 0.625rem 1.25rem 0.625rem 1.25rem;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.bottom-container {
    background-color: #264653;
    padding: 1.875rem 0 0.5rem 0;
    margin: 5rem 0 0 0;
}

.footer-link {
    color:  #11999E;
}

.icon {
    position: relative;
    right: 0.9375rem;
    margin-left: 1.875rem;
    width: 3%;
    height: 3%;
}
